<div class="row">
    <% if flash[:success] %>
      <div class="alert alert-success alert-dismissible fade show my-4" role="alert">
        <ul>
          <li><%= flash[:success] %></li>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </ul>
      </div>
    <%end%>
</div>