
<div class="row justify-content-center mt-5">
  <div class="col-md-12">
    <div class="slider">
<!--      <img src="../../assets/images/slider1.jpg" class="img-fluid" alt="slider1">-->
    </div>
  </div>
</div>